<div id="fullpage">
<div class="section">
<%= render template: 'partials/nav' %>

<h1>Welcome to Brawnzy 
<% if @current_user%>
<%=@current_user.name%>
<% end%>
</h1>
</div>
    <div class="section">How to Use</div>
    <div class="section">About</div>
</div>


<h1>How to Use</h1>
<br><hr>
<h1>About Us</h1>