<%= render template: 'partials/nav' %>

<h1>Welcome to Brawnzy 
<% if @current_user%>
<%=@current_user.name%>
<% end%>
</h1>

<h1>Home</h1>






<script type="text/javascript" src="/fullpage-signin.js"></script>
<hr>
<h1>How to Use</h1>
<br><hr>
<h1>About Us</h1>