<h1>Welcome to Brawnzy</h1>
<!-- form on submit handles auth ridirects in controller to view all workouts -->
<a href="/workout/all">Login</a>
<h1>Home</h1>

<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>

<% if @current_user %>
  <%= link_to 'Logout', auth_logout_path, class: 'btn btn-danger' %>
<% end %>

<div class="well">
  Current User: 
  <%= @current_user.inspect %>  
</div>

<hr>
<h1>How to Use</h1>
<br><hr>
<h1>About Us</h1>