<%= render template: 'partials/nav' %>

<h1>Workout#all</h1>

<% @workouts.each do |workout| %>
 <a href="../workout/<%=workout.id%>"><%=workout.workout_type%>-<%=workout.name%><br></a>
 <% end %>

<br><hr>
<a href="../workout/new">Create Workout</a>
