<%= render template: 'partials/nav' %>

<h1>Workout#nearme</h1>
<p>Find me in app/views/workout/nearme.html.erb</p>


<div id="map"></div>

<script type="text/javascript">
	function initMap(markers, coords) {
	 var myLatLng = {lat:coords.latitude, lng:coords.longitude};
	 var map = new google.maps.Map(document.getElementById('map'), {
	   center: myLatLng,
	   scrollwheel: false,
	   zoom: 15
 });

	var infoWindow = new google.maps.InfoWindow();

	for(i = 0; i < markers.results.length; i++){
	var latLon = {
		lat: markers.results[i].geometry.location.lat,
		lng: markers.results[i].geometry.location.lng
	};
	var marker = new google.maps.Marker({
	   map: map,
	   position: latLon,
	   title: "title"
		});
	var names = markers.results[i].name;
	var ratings = markers.results[i].rating;
	var hours = markers.results[i].opening_hours;

	(function(marker, name, rating) {
		google.maps.event.addListener(marker, "click", function (e) {
 		infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + name + " " + rating + " " + open_now + "</div>");
        infoWindow.open(map, marker);
	});
})(marker, names,ratings, hours);


	// marker.addListener("click", function() {
	// 	console.log(markers.results[i])
 //      var infoWindow = new google.maps.InfoWindow({content: "<h3>" + name + "</h3>"});
 //      infoWindow.open(map, marker);
 //    });
}

 };

$(document).ready(function() {
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(showPosition);
	}else {
		console('Error');
	}
	function showPosition(position) {
		$.post(
			window.location.href, 
			{'coordinates' : position.coords}
			).done(function(data) {
				console.log(data)
				initMap(data, position.coords)
			});
	};
});
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJcRqrc4pxkYbpNlOS7AXaEut-qhELP50&libraries=places"></script>
