/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require sweet-alert
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Michroma);

#login{
  display: inline-block;
  float: right
}
.clickable:hover{
	background: #61EBFF;
}

#map{
	height:600px;
	width: 600px;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
}


.section{
	color: #AE8200;
	font-family: 'Michroma', sans-serif;	
	position: relative;	
	padding-top: 0em !important;
	background: #121212 !important;
	font-size: 1em;
}

#about{
	color: #285983;
	font-size: 26px;
}